$color-bg: #00a19c; //nav
$color-subHeader: #484848;
$color-white: #fff;
$color-gray: gray;
body {
  margin: 0px;
  overflow: scroll;
}
* {
  box-sizing: border-box;
}
.layout {
  overflow: hidden;
  display: flex;
  min-height: 200vh;
  flex-direction: column;
  margin: 0;
  .main {
    display: flex;
    flex: 1;
    flex-direction: row;
    .mainContent {
      display: flex;
      flex: 10;
      flex-direction: column;
      article {
        flex: 5;
        text-align: center;
      }
      footer {
        flex: 1;
        height: 24vh;
      }
    }
  }
  .main > article {
    flex: 1;
  }
  .main > nav {
    order: -1;
  }
  header {
    height: 26vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.ant-layout-header {
  padding: 0px 0px !important;
}
.app-footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  .left-footer {
    flex: 2;
  }
  .right-footer {
    justify-content: flex-end;
    align-items: center;
    justify-items: end;
    flex: 5;
    display: flex;
  }
}
