$color-white:#fff;
$bg-color:#00a19c;
$font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
nav {
  width: 100%;
  background-color: $bg-color;
  height: 50px;
  flex: 1;
  position: fixed;
  z-index: 1;
  .navbar {
    height: 50px;
    width: 70%;
    margin: auto;
    z-index: 1;
    display: flex;
    background-color: $bg-color;
    .logo {
      flex:1;
    }
    .title {
      font-family: $font-family;
      font-size: "30px";
      margin-left: 10px;
    }
    .profileUser {
      flex: 1;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      padding: 10px 0px;
      .username {
        margin-right: 10px;
        text-align: center;
      }
      .circle {
        background-color: $color-white;
        border: 1px solid $color-white;
        height: 34px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 34px;
      }
    }
  }
}
