$color-gray: gray;
$color-white: white;
$bg-color: #484848;
$bt-color: rgb(0, 161, 156);
.subHeader {
  margin-top: 50px;
  background-color: #484848;
  width: 100%;
  flex: 2;
  .contentSub {
    width: 70%;
    margin: auto;
    height: 100px;
    .titleSubComponent {
      height: 40px;
      padding-top: 10px;
      i {
        color: $color-gray;
      }
      a {
        font-size: 12px;
        color: $color-gray !important;
      }
    }
    .titleAndButton {
      display: flex;
      flex-direction: row;
      height: 50px;
      .bigTitle {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 5px;
        color: $color-white;
        font-size: 1rem;
      }
      .buttonRouter {
        flex: 1;
        padding: 0.1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
          background-color: $bt-color;
          color: $color-white;
          border: none;
          width: auto;
          font-size: 1rem;
        }
      }
    }
  }
  hr {
    width: 70%;
    margin: auto;
    height: 1px;
    background-color: $color-gray;
  }
  .detailInfo {
    width: 70%;
    margin: auto;
    .list {
      text-align: center;
      height: 45px;
      width: 80px;
      line-height: 45px;
      cursor: pointer;
      background-color: $color-white;
      color: $color-gray;
      z-index: 999;
    }
    .networkDiagram {
      text-align: center;
      height: 45px;
      width: 175px;
      line-height: 45px;
      background-color: $bg-color;
    }
  }
}
.subHeader .contentSub > .titleSubComponent {
  font-size: 12px;
  color: $color-white;
}
.hidden {
  display: none !important;
}
.subHeader .detailInfo > div {
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 600px) {
  .subHeader {
    .contentSub {
      .titleSubComponent {
        font-size: 0.7rem;
      }
      .titleAndButton {
        .bigTitle {
          font-size: 0.5rem;
        }
        .buttonRouter {
          button {
            font-size: 0.5rem;
            height: auto;
          }
        }
      }
    }
  }
}
